<strong>Name:</strong>

<%= @cocktail.name %>


<ul>
  <% @cocktail.doses.each do |d| %>
    <li>
      <%= d.description %>
      <%= d.ingredient.name %>

    </li>
  <% end %>
</ul>




<%= link_to 'Home page', cocktails_path %>
<%= link_to 'Add dose', new_cocktail_dose_path(@cocktail) %>
